import { createActionGroup, emptyProps } from '@ngrx/store';

export const <%= classify(featureKey) %>ActionGroup = createActionGroup({
  source: '<%= classify(featureKey) %>',
  events: {
    'Default <%= classify(featureKey) %> Request': emptyProps()
  }
})
