<div class="flex flex-col justify-center my-12 mx-8">
  <div class="w-full mb-4">
    <h1 class="font-custom text-2xl">Photo Viewer</h1>
  </div>
  <div class="w-56">
    <app-search-bar
    [placeholder]="'Search by album ID'"
    (valueChange)="updateSearch($event)"></app-search-bar>
  </div>
  <div class="w-full">
    <p class="font-custom text-lg" *ngIf="albumId">Displaying photos for album: {{ albumId }}</p>
  </div>
</div>
<app-load-spinner [loading]="loading">
  <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 gap-4 px-4">
    <div class="h-72" *ngFor="let album of albums; index as i">
      <app-card>
        <img class="mx-auto" [src]="album.thumbnailUrl"/>
        <p class="font-custom text-sm mt-2">{{ album.title }}</p>
        <div
          downloadImage
          [imageTitle]="'album-' + albumId + '-image-' + i + '.jpg'"
          [fileUrl]="album.url"
          class="w-full flex justify-end text-slate-400 hover:text-slate-600">
            <i class="material-icons">download</i>
          </div>
      </app-card>
    </div>
  </div>
  <app-no-items
    *ngIf="albums.length === 0"
    [message]="'No photos found'"></app-no-items>
</app-load-spinner>
